html {
    background: #EAF2FD;
    font-family: "Raleway";
}

body  {
    min-height: 100vh;
    max-width: 400px;
}

div img {
    width: 464px;
    height: 593px;
    padding: 100px 16px 65.5px 152px;
}

.formulario {
    position: relative;
    bottom: 660px;
    left: 620px;
    padding-left: 16px;
}

.formulario h1 {
    font-weight: bold;
    font-size: 32px;
    color: #464646;
    list-style: 38px;
    padding-bottom: 8px;
}

.formulario p {
    width: 656px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    padding-bottom: 32px;
}

form label {
    position: absolute;
    top: 100px;
}

.campoTexto {
    width: 656px;
    height: 56px;
    border-radius: 4px;
    margin: 8px 0px;
}

.campoTexto::placeholder {
    padding: 16px 340px 16px 12px;
}

#email {
    position: absolute;
    top: 180px;
}

#Message {
    width: 656px;
    height: 133px;
}

#submit {
    position: relative;
    width: 144px;
    height: 51px;
    background: #2A7AE4;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-weight: normal;
    margin-top: 32px;
}

footer {
    position: relative;
    bottom: 500px;
    background: #FFFFFF;
    width: 1440px;
    height: 102px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #464646;
    line-height: 19px;
}

.footer {
    margin: 16px;
}